@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

//styling provided in style-guide.md
$softBlue: hsl(215, 51%, 70%);
$cyan: hsl(178, 100%, 50%);
$veryDarkBlueBG: hsl(217, 54%, 11%);
$veryDarkBlueCard: hsl(216, 50%, 16%);
$veryDarkBlueLine: hsl(215, 32%, 27%);
$white: hsl(0, 0%, 100%);

$paragraphFont: 18px;
$amountFont: 14px;

$fontFamily: 'Outfit';

$font-weights: (
    "regular": 300,
    "medium": 400,
    "bold": 600
);